<section class="container">
  <div class="row">
    <div class="col center">
      <h1 style="text-align: center">Football standings</h1>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="btn-group col-6" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">England</button>
      <button type="button" class="btn btn-secondary">Spain</button>
      <button type="button" class="btn btn-secondary">France</button>
      <button type="button" class="btn btn-secondary">Germany</button>
      <button type="button" class="btn btn-secondary">Italy</button>
    </div>
    <div class="col"></div>
  </div>
</section>
