<section class="container">
  <div class="row pb-4 mt-5">
    <div class="col"></div>
    <div class="btn-group col-6" role="group" aria-label="Basic example">
      <button
              *ngFor="let l of leagues"
              id="{{l.name.toLowerCase()}}Select"
              type="button"
              (click)="getStandings(l.code)"
              class="btn btn-success"
              [class]="{'active':l.code === selectedLeague }">
        {{l.name}}
      </button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <table *ngIf="selectedLeague !== 0; else noLeague" class="table">
        <thead class="table-dark thead-green">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Games</th>
            <th scope="col" class="text-center">W</th>
            <th scope="col" class="text-center">L</th>
            <th scope="col" class="text-center">D</th>
            <th scope="col" class="text-center">Goal Difference</th>
            <th scope="col" class="text-center">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of dataStandings; let i = index">
            <th scope="row" style="width: 50px">{{i+1}}</th>
            <td class="text-right" style="width: 50px">
              <img
                   alt="{{s.team.name}}"
                   title="{{s.team.name}}"
                   [src]="s.team.logo"
                   style="width: 100%" />
            </td>
            <td class="text-left">
              <a [routerLink]="['fixtures',selectedLeague,s.team.id]">
                {{s.team.name}}
              </a>
            </td>
            <td class="text-center">{{s.all.played}}</td>
            <td class="text-center">{{s.all.win}}</td>
            <td class="text-center">{{s.all.lose}}</td>
            <td class="text-center">{{s.all.draw}}</td>
            <td class="text-center">{{s.all.goals.for-s.all.goals.against}}</td>
            <td class="text-center"><b>{{s.points}}</b></td>
          </tr>
        </tbody>
      </table>
      <ng-template #noLeague>
        <p class="col-12 text-center">Select a League.</p>
      </ng-template>

    </div>
  </div>
</section>