<section class="container">
  <div class="row pb-4 mt-5">
    <div class="col"></div>
    <div class="btn-group col-6" role="group" aria-label="Basic example">
      <button
              *ngFor="let league of leagues"
              id="{{league.name | lowercase}}Select"
              type="button"
              (click)="getStandings(league.code)"
              class="btn btn-success"
              [class]="{'active':league.code === selectedLeague }">
        {{league.name}}
      </button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <table *ngIf="selectedLeague !== 0; else noLeague" class="table">
        <thead class="table-dark thead-green">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Games</th>
            <th scope="col" class="text-center">W</th>
            <th scope="col" class="text-center">L</th>
            <th scope="col" class="text-center">D</th>
            <th scope="col" class="text-center">Goal Difference</th>
            <th scope="col" class="text-center">Points</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let standing of dataStandings; let i = index">
            <th scope="row" style="width: 50px">{{i+1}}</th>
            <td class="text-right" style="width: 50px">
              <img
                   alt="{{standing.team.name}}"
                   title="{{standing.team.name}}"
                   [src]="standing.team.logo"
                   style="width: 100%" />
            </td>
            <td class="text-left">
              <a [routerLink]="['fixtures',selectedLeague,standing.team.id]">
                {{standing.team.name}}
              </a>
            </td>
            <td class="text-center">{{standing.all.played}}</td>
            <td class="text-center">{{standing.all.win}}</td>
            <td class="text-center">{{standing.all.lose}}</td>
            <td class="text-center">{{standing.all.draw}}</td>
            <td class="text-center">{{standing.all.goals.for-standing.all.goals.against}}</td>
            <td class="text-center"><b>{{standing.points}}</b></td>
          </tr>
        </tbody>
      </table>
      <ng-template #noLeague>
        <p class="col-12 text-center">Select a League.</p>
      </ng-template>

    </div>
  </div>
</section>